     <style>
    .section-custom-quatre-box .main-flexbox {
      display: flex;
      width: 100%;
      object-fit: contain;

    }

    .section-custom-quatre-box .sub-flexbox {
      flex: 1;
      width: 50%;
      display: flex;
      flex-direction: row;
      object-fit: contain;

    }

    .section-custom-quatre-box .third-flexbox {
      display: flex;
      flex-direction: column;
      width: 50%;

    }

    .section-custom-quatre-box .button-wishlist {
      position: absolute;
      top: 15px;
      right: 15px;
      border:none;
      background-color: transparent;
      outline: none;

    }



    .section-custom-quatre-box .inner-flexbox-image {
      height: 80vh;
    }

    .section-custom-quatre-box .inner-flexbox-image img {
      height: 100%;
      width: 100%;


    }

    .section-custom-quatre-box .inner-flexbox-item {
      display: flex;
      height: 68px;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      align-content: center;
    }


    .section-custom-quatre-box .inner-flexbox-item .div-element {
      height: 100%;
      width: 100%;
      margin: 12px 16px;

    }

    .section-custom-quatre-box .section-1 {
      justify-content: space-between;
      display: flex;
      margin-top: 5px;
      margin-bottom: 8px;      

    }

    .section-custom-quatre-box .section-2 {
      justify-content: space-between;
      display: flex;
      align-items: center; /* Align items vertically in the center */

    }

    .section-custom-quatre-box .div-button {
        font-size: 0;
      }
    .section-custom-quatre-box .link-block {
      padding-left: 5px;
    }
       

    .section-custom-quatre-box .cercle {
      border: 1px solid #000;
      border-radius: 20px;


    }



  

}


    @media screen and (max-width: 600px) {
      .section-custom-quatre-box .main-flexbox {
        display: flex;
        flex-direction: column;
        width: 100%;
        
      }

      .section-custom-quatre-box .sub-flexbox {
        width: 100%;
        display: flex;
        flex-direction: row;
      }

      .section-custom-quatre-box .third-flexbox {
          width: 100%;
          flex-direction: column;
          flex-wrap: wrap;
        }

    }
  </style>





  <div class="section-custom-quatre-box">
    <div class="main-flexbox">
      <div class="sub-flexbox">

        <div class="third-flexbox">
          <div class="inner-flexbox-image">

       
        <div style="position: relative; ">



    {% for block in section.blocks %}
  {% if block.type == 'produit_1' %}
    {% assign product = block.settings.selected_product %}
  <button class="button-wishlist my-icon-filled swym-add-to-wishlist swym-iconbtnlink swym-heart swym-added swym-loaded quatreBoxWishP1B1" 
    data-with-epi="true" 
    data-swaction="addToWishlist"
    data-product-id="{{ product.id }}" 
    data-variant-id="{{ product.variants[0].id }}"
    data-product-url="{{ shop.url }}{{ product.url }}"
   >
        <img src="{{ section.settings.wishlist-heart | img_url: 'master' }}" alt="Image sélectionnée" style="height:25px;width:25px;background-color: transparent;" class="box4Img1"/>
</button>
  {% endif %}
       {% if block.type == 'produit_2' %}
    {% assign product = block.settings.selected_product %}
  <button class="button-wishlist my-icon-filled swym-add-to-wishlist swym-iconbtnlink swym-heart swym-added swym-loaded quatreBoxWishP1B2" style="display:none;"
    data-with-epi="true" 
    data-swaction="addToWishlist"
    data-product-id="{{ product.id }}" 
    data-variant-id="{{ product.variants[0].id }}"
    data-product-url="{{ shop.url }}{{ product.url }}"
   >
        <img src="{{ section.settings.wishlist-heart | img_url: 'master' }}" alt="Image sélectionnée" style="height:25px;width:25px;background-color: transparent;" class="box4Img2"/>
</button>
  {% endif %}
    {% if block.type == 'produit_3' %}
    {% assign product = block.settings.selected_product %}
  <button class="button-wishlist my-icon-filled swym-add-to-wishlist swym-iconbtnlink swym-heart swym-added swym-loaded quatreBoxWishP1B3" style="display:none;"
    data-with-epi="true" 
    data-swaction="addToWishlist"
    data-product-id="{{ product.id }}" 
    data-variant-id="{{ product.variants[0].id }}"
    data-product-url="{{ shop.url }}{{ product.url }}"
   >
        <img src="{{ section.settings.wishlist-heart | img_url: 'master' }}" alt="Image sélectionnée" style="height:25px;width:25px;background-color: transparent;" class="box4Img3"/>
</button>
  {% endif %}
{% endfor %}

 

            </div>

<a id="Box4LinkBox1" href="{{ section.settings.url_product1}}">
      {% for block in section.blocks %}
              {% if block.type == "produit_1" %}
                {% assign imageProduit1 = block.settings.imageProduit %}
                   <img src="{{ imageProduit1 | img_url: 'master' }}" alt="Image sélectionnée" loading="lazy" id="Box4ImageProduitBox1"/>
            {% endif %}
          {% endfor %}
          </a>
          </div>
          
          <div class="inner-flexbox-item">
            <div class="div-element">

              <section class="section-1">
                <div>a</div>
                <div>b</div>
              </section>

              <section class="section-2">
                <div>S M L XL</div>
               
                <div class="div-button">
                  
              {% if section.settings.color_button.alpha > 0 %}
            <a href="#" class="link-block" id="4box-first-Link-produit-1">
                <img src="{{ section.settings.forme | img_url: 'master' }}" alt="" loading="lazy" style="background-color:{{ section.settings.color_button }};" width="12" height="12" class="cercle" >
            </a>
        {% endif %}
         {% if section.settings.color_button2.alpha > 0 %}
            <a href="#" class="link-block" id="4box-second-Link-produit-1">
                <img src="{{ section.settings.forme | img_url: 'master' }}" alt="" loading="lazy" style="background-color:{{ section.settings.color_button2 }};" width="12" height="12" class="cercle" >
            </a>
        {% endif %}
{% if section.settings.color_button3.alpha > 0 %}
            <a href="#" class="link-block" id="4box-third-Link-produit-1">
                <img src="{{ section.settings.forme | img_url: 'master' }}" alt="" loading="lazy" style="background-color:{{ section.settings.color_button3 }};" width="12" height="12" class="cercle" >
            </a>
        {% endif %}
        
                </div>

              </section>


            </div>
          </div>
        </div>

        <div class="third-flexbox">
          <div class="inner-flexbox-image">
            <div style="position: relative; ">
              <button href="http://google.fr" class="button-wishlist">
                <img src="heart1.png" style="height: 25px;width: 25px;">
              </button>
            </div>

            <a href="">
              <img src="img2.png" alt="Description de l'image">
            </a>

          </div>
          <div class="inner-flexbox-item">
            <div class="div-element">

              <section class="section-1">
                <div>a</div>
                <div>b</div>
              </section>

              <section class="section-2">
                <div>S M L XL</div>
                <div class="div-button">
                 {% if section.settings.color_button.alpha > 0 %}
            <a href="#" class="link-block" id="firstLinkBlockProduit1">
                <img src="{{ section.settings.forme | img_url: 'master' }}" alt="" loading="lazy" style="background-color:{{ section.settings.color_button }};" width="12" height="12" class="cercle" >
            </a>
        {% endif %}
         {% if section.settings.color_button2.alpha > 0 %}
            <a href="#" class="link-block" id="secondLinkBlockProduit1">
                <img src="{{ section.settings.forme | img_url: 'master' }}" alt="" loading="lazy" style="background-color:{{ section.settings.color_button2 }};" width="12" height="12" class="cercle" >
            </a>
        {% endif %}
{% if section.settings.color_button3.alpha > 0 %}
            <a href="#" class="link-block" id="thirdLinkBlockProduit1">
                <img src="{{ section.settings.forme | img_url: 'master' }}" alt="" loading="lazy" style="background-color:{{ section.settings.color_button3 }};" width="12" height="12" class="cercle" >
            </a>
        {% endif %}
                </div>

              </section>


            </div>
          </div>
        </div>
      </div>

      <div class="sub-flexbox">
        <div class="third-flexbox">
          <div class="inner-flexbox-image">

            <div style="position: relative; ">
              <button href="http://google.fr" class="button-wishlist">
                <img src="heart1.png" style="height: 25px;width: 25px;">
              </button>
            </div>

            <a href="">
              <img src="img3.png" alt="Description de l'image">
            </a>

          </div>

          <div class="inner-flexbox-item">
            <div class="div-element">

              <section class="section-1">
                <div>a</div>
                <div>b</div>
              </section>

              <section class="section-2">
                <div>S M L XL</div>
                <div class="div-button">
                  {% if section.settings.color_button.alpha > 0 %}
            <a href="#" class="link-block" id="firstLinkBlockProduit1">
                <img src="{{ section.settings.forme | img_url: 'master' }}" alt="" loading="lazy" style="background-color:{{ section.settings.color_button }};" width="12" height="12" class="cercle" >
            </a>
        {% endif %}
         {% if section.settings.color_button2.alpha > 0 %}
            <a href="#" class="link-block" id="secondLinkBlockProduit1">
                <img src="{{ section.settings.forme | img_url: 'master' }}" alt="" loading="lazy" style="background-color:{{ section.settings.color_button2 }};" width="12" height="12" class="cercle" >
            </a>
        {% endif %}
{% if section.settings.color_button3.alpha > 0 %}
            <a href="#" class="link-block" id="thirdLinkBlockProduit1">
                <img src="{{ section.settings.forme | img_url: 'master' }}" alt="" loading="lazy" style="background-color:{{ section.settings.color_button3 }};" width="12" height="12" class="cercle" >
            </a>
        {% endif %}
                </div>

              </section>


            </div>
          </div>
        </div>

        <div class="third-flexbox">
          <div class="inner-flexbox-image">

            <div style="position: relative; ">
              <button href="http://google.fr" class="button-wishlist">
                <img src="heart1.png" style="height: 25px;width: 25px;">
              </button>
            </div>

            <a href="">
              <img src="img4.png" alt="Description de l'image">
            </a>

          </div>
          <div class="inner-flexbox-item">
            <div class="div-element">

              <section class="section-1">
                <div>a</div>
                <div>b</div>
              </section>

              <section class="section-2">
                <div>S M L XL</div>
                <div class="div-button">
                 {% if section.settings.color_button.alpha > 0 %}
            <a href="#" class="link-block" id="firstLinkBlockProduit1">
                <img src="{{ section.settings.forme | img_url: 'master' }}" alt="" loading="lazy" style="background-color:{{ section.settings.color_button }};" width="12" height="12" class="cercle" >
            </a>
        {% endif %}
         {% if section.settings.color_button2.alpha > 0 %}
            <a href="#" class="link-block" id="secondLinkBlockProduit1">
                <img src="{{ section.settings.forme | img_url: 'master' }}" alt="" loading="lazy" style="background-color:{{ section.settings.color_button2 }};" width="12" height="12" class="cercle" >
            </a>
        {% endif %}
{% if section.settings.color_button3.alpha > 0 %}
            <a href="#" class="link-block" id="thirdLinkBlockProduit1">
                <img src="{{ section.settings.forme | img_url: 'master' }}" alt="" loading="lazy" style="background-color:{{ section.settings.color_button3 }};" width="12" height="12" class="cercle" >
            </a>
        {% endif %}
                </div>

              </section>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>










{% schema %}
{
  "name": "quatre-box",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
        {
      "type": "image_picker",
      "id": "forme",
      "label": "Sélectionner une forme "
    },
     {
      "type": "image_picker",
      "id": "wishlist-heart-void",
      "label": "image wishlist vide "
    },
         {
      "type": "image_picker",
      "id": "wishlist-heart",
      "label": "image wishlist plein "
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      },
       {
      "type": "url",
      "id": "button_link2",
      "label": "Button Link 2"
    },
      {
        "type": "text",
        "id": "button_text2",
        "label": "Button Text 2"
      },
      {
      "type": "url",
      "id": "url_product1",
      "label": "url sélectionné"
    },
      {
      "type": "url",
      "id": "url_product2",
      "label": "url sélectionné 2"
    },
       {
      "type": "url",
      "id": "url_product3",
      "label": "url sélectionné 3 "
    },
     {
      "type": "color",
      "id": "color_button",
      "label": "[1] Couleur du bouton"
    },
     {
      "type": "color",
      "id": "color_button2",
      "label": "[1] Couleur du bouton 2"
    },
      {
      "type": "color",
      "id": "color_button3",
      "label": "[1] Couleur du bouton 3"
    },
      {
      "type": "color",
      "id": "V2color_button1",
      "label": "[2] Couleur du bouton"
    },
       {
      "type": "color",
      "id": "V2color_button2",
      "label": "[2] Couleur du bouton 2"
    },
       {
      "type": "color",
      "id": "V2color_button3",
      "label": "[2] Couleur du bouton  3"
    },
          {
      "type": "color",
      "id": "V3color_button1",
        "label": "[3] Couleur du bouton "
    },
       {
      "type": "color",
      "id": "V3color_button2",
      "label": "[3] Couleur du bouton 2"
    },
       {
      "type": "color",
      "id": "V3color_button3",
      "label": "[3] Couleur du bouton 3"
    },
     {
      "type": "color",
      "id": "V4color_button1",
      "label": "[4] Couleur du bouton"
    },
       {
      "type": "color",
      "id": "V4color_button2",
      "label": "[4] Couleur du bouton 2"
    },
       {
      "type": "color",
      "id": "V4color_button3",
      "label": "[4] Couleur du bouton 3"
    }
  ],
  "blocks": [
    {
      "type": "produit_1",
      "name": "[1] produit 1",
      "settings": [
   {
      "type": "product",
      "id": "selected_product",
      "label": "Produit sélectionné",
      "info": "Choisissez un produit à afficher dans cette section"
    },
            {
      "type": "image_picker",
      "id": "imageProduit",
      "label": "Sélectionner une image"
    }
      ]
    },

     {
      "type": "produit_2",
      "name": "[1] produit 2",
      "settings": [
   {
      "type": "product",
      "id": "selected_product",
      "label": "Produit sélectionné",
      "info": "Choisissez un produit à afficher dans cette section"
    },
            {
      "type": "image_picker",
      "id": "imageProduit",
      "label": "Sélectionner une image"
    }
        
      ]
    },
    {
      "type": "produit_3",
      "name": "[1] produit 3",
      "settings": [
   {
      "type": "product",
      "id": "selected_product",
      "label": "Produit sélectionné",
      "info": "Choisissez un produit à afficher dans cette section"
    },
            {
      "type": "image_picker",
      "id": "imageProduit",
      "label": "Sélectionner une image"
    }
        
      ]
    },
        {
      "type": "V2produit_1",
      "name": "[2] produit 1",
      "settings": [
   {
      "type": "product",
      "id": "selected_product",
      "label": "Produit sélectionné",
      "info": "Choisissez un produit à afficher dans cette section"
    },
            {
      "type": "image_picker",
      "id": "imageProduit",
      "label": "Sélectionner une image"
    }
      ]
    },
    {
      "type": "V2produit_2",
      "name": "[2] produit 2",
      "settings": [
   {
      "type": "product",
      "id": "selected_product",
      "label": "Produit sélectionné",
      "info": "Choisissez un produit à afficher dans cette section"
    },
            {
      "type": "image_picker",
      "id": "imageProduit",
      "label": "Sélectionner une image"
    }
      ]
    },   
    {
      "type": "V2produit_3",
      "name": "[2] produit 3",
      "settings": [
   {
      "type": "product",
      "id": "selected_product",
      "label": "Produit sélectionné",
      "info": "Choisissez un produit à afficher dans cette section"
    },
            {
      "type": "image_picker",
      "id": "imageProduit",
      "label": "Sélectionner une image"
    }
        
      ]
    }
    ,
        {
      "type": "V3produit_1",
      "name": "[3] produit 1",
      "settings": [
   {
      "type": "product",
      "id": "selected_product",
      "label": "Produit sélectionné",
      "info": "Choisissez un produit à afficher dans cette section"
    },
            {
      "type": "image_picker",
      "id": "imageProduit",
      "label": "Sélectionner une image"
    }
      ]
    },
    {
      "type": "V3produit_2",
      "name": "[3] produit 2",
      "settings": [
   {
      "type": "product",
      "id": "selected_product",
      "label": "Produit sélectionné",
      "info": "Choisissez un produit à afficher dans cette section"
    },
            {
      "type": "image_picker",
      "id": "imageProduit",
      "label": "Sélectionner une image"
    }
      ]
    },   
    {
      "type": "V3produit_3",
      "name": "[3] produit 3",
      "settings": [
   {
      "type": "product",
      "id": "selected_product",
      "label": "Produit sélectionné",
      "info": "Choisissez un produit à afficher dans cette section"
    },
            {
      "type": "image_picker",
      "id": "imageProduit",
      "label": "Sélectionner une image"
    }
        
      ]
    }
,
        {
      "type": "V4produit_1",
      "name": "[4] produit 1",
      "settings": [
   {
      "type": "product",
      "id": "selected_product",
      "label": "Produit sélectionné",
      "info": "Choisissez un produit à afficher dans cette section"
    },
            {
      "type": "image_picker",
      "id": "imageProduit",
      "label": "Sélectionner une image"
    }
      ]
    },
    {
      "type": "V4produit_2",
      "name": "[4] produit 2",
      "settings": [
   {
      "type": "product",
      "id": "selected_product",
      "label": "Produit sélectionné",
      "info": "Choisissez un produit à afficher dans cette section"
    },
            {
      "type": "image_picker",
      "id": "imageProduit",
      "label": "Sélectionner une image"
    }
      ]
    },   
    {
      "type": "V4produit_3",
      "name": "[4] produit 3",
      "settings": [
   {
      "type": "product",
      "id": "selected_product",
      "label": "Produit sélectionné",
      "info": "Choisissez un produit à afficher dans cette section"
    },
            {
      "type": "image_picker",
      "id": "imageProduit",
      "label": "Sélectionner une image"
    }
        
      ]
    }

  ],

  "presets": [
    {
      "name": "quatre-box"
    
    
    }
  ]
}
{% endschema %}

<script>
  document.addEventListener('DOMContentLoaded', function() {

    
    var quatreBoxWishP1B1 = document.querySelector('.quatreBoxWishP1B1');
    var quatreBoxWishP1B2 = document.querySelector('.quatreBoxWishP1B2');
    var quatreBoxWishP1B3 = document.querySelector('.quatreBoxWishP1B3');
    var Box4ImageProduitBox1 = document.getElementById('Box4ImageProduitBox1');
    var Box4LinkBox1 = document.getElementById('Box4LinkBox1');
    var box4Img1 = document.querySelector('.box4Img1');
    var box4Img2 = document.querySelector('.box4Img2');
    var box4Img3 = document.querySelector('.box4Img3');

 
function createObserver(buttonElement, imageElement) {
  var observer = new MutationObserver(function(mutations) {
    mutations.forEach(function(mutation) {
      if (mutation.target.classList.contains('swym-added')) {
        console.log('La classe .swym-added a été ajoutée');
        imageElement.src = '{{ section.settings.wishlist-heart | img_url: "master" }}';
      } else {
        console.log('La classe .swym-added a été supprimée');
        imageElement.src = '{{ section.settings.wishlist-heart-void | img_url: "master" }}';
      }
    });
    return observer;
  });

  var config = { attributes: true, attributeFilter: ['class'] };
  observer.observe(buttonElement, config);
}


var observer1 = createObserver(quatreBoxWishP1B1, box4Img1);

    {% for block in section.blocks %}
    {% if block.type == 'produit_2' %}
    var observer2 = createObserver(quatreBoxWishP1B2, box4Img2);
    console.log("ob 2 créer");
      {% endif %}
      {% if block.type == 'produit_3' %}
      var observer3 = createObserver(quatreBoxWishP1B3, box4Img3);
      console.log("ob 3 créer");
      {% endif %}
      {% endfor %}  
    

  

    document.getElementById('4box-first-Link-produit-1').addEventListener('click', function() {
            event.preventDefault();
   {% for block in section.blocks %}
            {% if block.type == "produit_1" %}
              {% assign imageProduit = block.settings.imageProduit %}
              {% assign urlProduit = block.settings.selected_product.url %}
              {% assign product = block.settings.selected_product %}

         Box4LinkBox1.href = "{{ urlProduit }}";

         Box4ImageProduitBox1.src = '{{imageProduit | img_url: 'master'}}';
          quatreBoxWishP1B1.style.display = '';
            quatreBoxWishP1B2.style.display = 'none';

           quatreBoxWishP1B3.style.display = 'none';      

            {% endif %}
          {% endfor %}

  });
       document.getElementById('4box-second-Link-produit-1').addEventListener('click', function() {
            event.preventDefault();
 {% for block in section.blocks %}
            {% if block.type == "produit_2" %}
              {% assign imageProduit = block.settings.imageProduit %}
              {% assign urlProduit = block.settings.selected_product.url %}
              {% assign product = block.settings.selected_product %}

         Box4LinkBox1.href = "{{ urlProduit }}";

         Box4ImageProduitBox1.src = '{{imageProduit | img_url: 'master'}}';
          quatreBoxWishP1B1.style.display = 'none';
                        quatreBoxWishP1B2.style.display = '';

           quatreBoxWishP1B3.style.display = 'none';

        

            {% endif %}
          {% endfor %}

  });


         document.getElementById('4box-third-Link-produit-1').addEventListener('click', function() {
            event.preventDefault();
 {% for block in section.blocks %}
            {% if block.type == "produit_3" %}
              {% assign imageProduit = block.settings.imageProduit %}
              {% assign urlProduit = block.settings.selected_product.url %}
              {% assign product = block.settings.selected_product %}
     
            Box4LinkBox1.href = "{{ urlProduit }}";

         Box4ImageProduitBox1.src = '{{imageProduit | img_url: 'master'}}';
           
          quatreBoxWishP1B1.style.display = 'none';
     quatreBoxWishP1B2.style.display = 'none';
           quatreBoxWishP1B3.style.display = '';
    

            {% endif %}
          {% endfor %}
  });
    
});



</script>


{% javascript %}

{% endjavascript %}
